<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Автомобили</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container p-5">
            <h1>Автомобили</h1>
            <hr/>
            <h2>Бренды</h2>
            <ul class="list-unstyled list-inline">
                {{#brands}}
                    <li class="list-inline-item">
                        <a href="/brand/{{id}}">{{name}}</a>
                    </li>
                {{/brands}}
            </ul>
            <hr/>
            <h2>Все автомобили</h2>
            <div class="row">
                {{#cars}}
                    <div class="col-4">
                        <a href="#">
                            <strong>{{brand.name}} {{name}}</strong>
                        </a><br/>
                        {{cost}} руб.
                    </div>
                {{/cars}}
            </div>
            <hr/>
            <a href="/order" class="btn btn-success">Купить автомобиль</a>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>